In [1]:
import pandas as pd
from neuralprophet import NeuralProphet

Importing plotly failed. Interactive plots will not work.
Importing plotly failed. Interactive plots will not work.

(0) Load

In [2]:
path = '/Users/robertpinochetgomez/GitHub/time-series-analysis/00-data'

df_exports = pd.read_parquet(f'{path}/df_nsc_2025_until_w18.parquet')
df_exports['Week'] = df_exports['Week'].astype('int32')
df_exports.tail()

     Country  Volume (KG)   Kr/kg  Week         Product  Year     Continent
8512    EU27          377  151.62    16  FROZEN FILLETS  2025        EUROPE
8513  TOTALT         1211  151.31    17  FROZEN FILLETS  2025  UNCLASSIFIED
8514    EU27          432  143.34    17  FROZEN FILLETS  2025        EUROPE
8515  TOTALT         1423  147.68    18  FROZEN FILLETS  2025  UNCLASSIFIED
8516    EU27          653  148.88    18  FROZEN FILLETS  2025        EUROPE

In [3]:
df_totalt = (df_exports.loc[df_exports['Country'].isin(['TOTALT'])]).groupby(by=['Year', 'Week']).agg(
                                                        VolumeKG = ('Volume (KG)', 'sum')
)